<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Event Horizon - {{event}} </title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <header>
        <nav>
           <ul>
                <li><a href="/">Home</a></li>
           </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>
    <script src="../../public/js/client_side_validation.js"></script>
    <footer></footer>
</body>
</html>