<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Horizon Calendar View</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div id="calendar-container">
        <header>
            <h1 id="month-year"></h1>
        </header>
        <table id="calendar">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
<script type="module" src="../public/js/calendar.js"></script>
</body>
</html>