
    <div id="calendar-container">
        <header>
            <h1 id="month-year"></h1>
        </header>
        <table id="calendar">
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
<script type="module" src="../public/js/calendar.js"></script>
