<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Event</title>
</head>
<body>
    <h1>Create a New Event</h1>
    <form id="create-event-form" action="/create-event" method="POST">
        <label for="eventName">Event Name:</label>
        <input type="text" id="event-name" name="event-name" required placeholder="Enter the event name">

        <label for="eventDescription">Event Description:</label>
        <input type="text" id="event-description" name="event-description" required placeholder="Enter the event description">

        <label for="eventDate">Date:</label>
        <input type="text" id="event-date" name="event-date" required placeholder="Select the event date">
        {{!-- TODO : date dropdown --}}

        <label for="eventLocation">Location:</label>
        <input type="text" id="event-location" name="event-location" required placeholder="Enter location">

         <label for="category">Select Category:</label>
        <div id="category">
            <input type="checkbox" id="category-sports" name="category" value="sports">
            <label for="category-sports">Sports</label><br>
            <input type="checkbox" id="category-art" name="category" value="art">
            <label for="category-art">Art</label><br>
            <input type="checkbox" id="category-technology" name="category" value="technology">
            <label for="category-technology">Technology</label><br>
        </div>

        <button id="submitButton" type="submit" name="submitButton">Submit</button>
    </form>
</body>
</html>
