<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Horizon</title>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>
    <div id="events">
        <ul id="eventList"></ul>
    </div>
</body>
</html>