

<div id="eventDetails">
    <h1 id="eventName">{{eventName}}</h1>
    <main>
        <h2 id="eventTime">{{eventTime}}</h2>
        <h2 id="eventLocation">{{eventLocation}}</h2>
        <p id="eventDescription">{{eventDescription}}</p>
    </main>
        <a id="report_event" href="/report_event">Logout</a>
        <button id="bookmarkEvent">Bookmark Event</button>
</div>
<div> 
    <a id="bookmarks" href='/bookmarks'>View BookMarks</a>
</div>
<script> 
    
</script>
