<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Horizon</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <h1>Event Horizon</h1>
    <main>
        <p>Welcome to Event Horizon!</p>
        {{> dashboard}}
    </main>

<script>
    // TODO implement login logic
        var userIsLoggedIn = false; 

        if (userIsLoggedIn) {
            document.getElementById('login-form').style.display = 'none';
            document.getElementById('logoutLink').style.display = 'inline';
        } else {
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('logoutLink').style.display = 'none';
        }
     <button id="logoutLink" href="/logout">Logout</button>
</script>

</body>
</html>