<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Horizon</title>
    <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>
    <h1>Event Horizon</h1>
    <main>
        <p>Welcome to Event Horizon!</p>
    </main>

    <form id="login-form">
        <input type="text" name="username" required/>
        <input type="password" name="password" required/>
        <button type="submit"> Login </button>
    </form>
</body>
</html>