<!DOCTYPE html>
<html lang="en">
<head><title>User</title></head>
    <div id="userView">
        <p id="welcome">Welcome {{user.firstName}} {{user.lastName}}.</p>

        <a id="logoutLink" href="/logout">Logout</a>
    </div>
</html>
