
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Orfganizer</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <h1>Apply to become an official event organizer!</h1>
    <form id="eventVerificationForm" action="/verify-event" method="POST">
        <label for="organizationName">organizationName:</label>
        <input type="text" id="organizationName" name="organizationName" required placeholder="Enter your organization's name">
        
        {{!-- TODO: Verification fields and logic --}}

        <button id="submitButton" type="submit" name="submitButton">Submit</button>
    </form>
</body>
</html>
