.center {
    text-align: center;
    color:darkblue
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    max-width: 75%;
    margin: auto;
}

h1 {
    font-size: 2rem;
    color: blue;
}
